<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaderboard</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'quiz/leader.css' %}">
</head>

<body>

  <div class="container">

    <h1>Leaderboard</h1>

    <!-- Django / template loop -->
    <ul>
      {% for player in scores %}
      <li>{{ player.name }} - {{ player.score }}</li>
      {% endfor %}
    </ul>

    <a href="{% url 'home' %}">
      <button class="main-btn">Main Menu</button>
    </a>

  </div>

</body>

</html>