<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Game</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz/quiz.css' %}">
</head>

<body>

    <div class="container">
        <h1>Choose Difficulty</h1>

        <a href="{% url 'easy' %}" class="menu-btn easy">
            Easy
        </a>

        <a href="{% url 'medium' %}" class="menu-btn medium">
            Medium
        </a>

        <a href="{% url 'hard' %}" class="menu-btn hard">
            Hard
        </a>
        </form>

        <button type="button" class="back-btn" onclick="history.back()">Back</button>
        </form>
    </div>

</body>

</html>