* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

.container {
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

/* Button style */
.menu-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 black;
    text-decoration: none;
    color: white;
}

.menu-btn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.menu-btn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.easy {
    background: #28a745;
}

.medium {
    background: #ffc107;
    color: black;
}

.hard {
    background: #dc3545;
}

.main-menu {
    background: #2a5298;
}